@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap%27');

/* CSS Document for the Home page */


/* Developed by:  Tyler Smalley */


/* Script Date: August 30, 2021 */

.body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    text-shadow: #ee9b57 3px 0 6px;
    background-image: linear-gradient(to right, #F3CBA8, #f3b087);
    color: #26a1b1;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #07616b;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.navigation {
    position: fixed;
    z-index: 6;
    align-items: center;
    opacity: .8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    border-bottom: solid thick #AB8A72;
    box-shadow: 4px 0 4px 0 #AB8A72;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #F3CBA8, #F5C1A0);
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    font-weight: bolder;
    font-size: 16pt;
    color: #07616b;
}

.navigation a:hover {
    background: #f0b686;
}

.navigation img {
    display: block;
    margin: 0;
    padding: 0;
}

#choose_container {
    border-top: thin solid #AB8A72;
    border-bottom: thin solid #AB8A72;
    box-shadow: 0 4px 2px -2px rgb(37, 36, 36);
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 0 5% 0;
}

#h2_choose {
    font-family: 'Caveat', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 24pt;
    font-weight: 900;
    text-shadow: 1px 1px white, #07616b -2px -2px;
    text-align: center;
    color: #fff;
    margin: 5% 25% 0 25%;
}

#choose_text {
    text-align: center;
    margin: 0 25% 5% 25%;
}

#choose_text>p {
    margin: 10px 0 30px 0;
}

#destination_container {
    border-top: thin solid #AB8A72;
    border-bottom: thin solid #AB8A72;
    box-shadow: 0 4px 2px -2px rgb(37, 36, 36);
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 0 5% 0;
}

#h2_Destinations {
    font-family: 'Caveat', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px white, #07616b -2px -2px;
    text-align: center;
    color: #fff;
    margin: 5% 25% 1% 25%;
}

#destination_list_wrapper {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: inherit;
    margin: 0;
    align-self: auto;
}

.destinaton_flexbox {
    flex: auto;
    max-width: 538px;
    min-width: 0;
    margin: auto;
}

.destination_heading {
    flex: auto;
    width: 100%;
    max-width: 538px;
    min-width: 0;
    height: auto;
}

.destination_description {
    flex: auto;
    text-justify: auto;
    width: 80%;
    max-width: 538px;
    min-width: 80%;
    height: auto;
}

.destination_image_box {
    flex: auto;
    width: 100%;
    max-width: 538px;
    min-width: 80%;
    max-width: 10800%;
    height: auto;
}

.destination_image {
    border: thin solid #AB8A72;
    border-radius: 20px;
    flex: auto;
    max-width: 538px;
    min-width: 80%;
    width: 90%;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.destination_image:hover {
    position: relative;
    top: -15px;
    transform: 600px;
    height: auto;
    display: block;
    z-index: 999;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

#consultation_container {
    border-top: thin solid #AB8A72;
    border-bottom: thin solid #AB8A72;
    box-shadow: 0px 4px 2px -2px rgb(37, 36, 36);
    position: relative;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 0 5% 0;
}

#h2_book {
    font-family: 'Caveat', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px white, #07616b -2px -2px;
    text-align: center;
    color: #fff;
    margin: 5% 25% 0 25%;
}

#book_wrapper {
    min-width: 30%;
    text-align: center;
    height: auto;
    margin: 0 25% 5% 25%;
}

#book_wrapper>p {
    margin: 10px 0 30px 0;
}

.footer {
    border-top: thick solid #AB8A72;
    z-index: 5;
    opacity: .8;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #F3CBA8, #F5C1A0);
}

.address_container {
    flex: auto;
    list-style: none;
    margin: 1%;
    padding: 1%;
}

.hours_container {
    flex: auto;
    list-style: none;
    margin: 1%;
    padding: 1%;
}

.logo_wrapper {
    flex: auto;
    margin: 1%;
    padding: 1%;
}

.button_wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 5% 25% 0 25%;
}

.button {
    flex: auto;
    text-decoration: none;
    text-align: center;
    text-shadow: -2px -2px #444;
    font-weight: 900;
    font-size: 14pt;
    letter-spacing: 4px;
    color: white;
    background-color: #07616b;
    height: auto;
    border: thin solid black;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    padding: 1em;
}

.button:hover {
    background-color: #26a1b1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.button:active {
    background-color: #5acaa9;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07), inset 0 2px 4px rgba(0, 0, 0, 0.07), inset 0 4px 8px rgba(0, 0, 0, 0.07), inset 0 8px 16px rgba(0, 0, 0, 0.07), inset 0 16px 32px rgba(0, 0, 0, 0.07), inset 0 32px 64px rgba(0, 0, 0, 0.07);
}

.parallax-1,
.parallax-2,
.parallax-3 {
    position: relative;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    background-image: url("../images/footer_marquee_index.jpg");
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.parallax-2 {
    background-image: url("../images/marquee_body_1.jpg");
    min-height: 80%;
    width: 100%;
}

.parallax-3 {
    background-image: url("../images/marquee_body_2.jpg");
    min-height: 80%;
    width: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    color: #000;
}

.caption span.border {
    opacity: .7;
    background-color: #111;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 18px;
    font-size: 16pt;
    font-family: 'Caveat', cursive;
    letter-spacing: 10px;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}